[submodule "ckan"]
	path = ckan
	url = https://github.com/ckan/ckan.git
[submodule "ckanext-scheming"]
	path = ckanext-scheming
	url = https://github.com/ckan/ckanext-scheming.git
[submodule "ckanext-hierarchy"]
	path = ckanext-hierarchy
	url = https://github.com/ckan/ckanext-hierarchy.git
